@import "/styles/helpers/variables";

.grid {
  width: 90vw;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: rem(8);

  a, button {
    width: 20vw;
    height: 20vw;
    opacity: 25%;
  }
}