@import "/styles/helpers/variables";

.grid {
    width: 90vw;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: rem(10);

    a, button {
        padding: 0;
        object-fit: cover;
        background-color: transparent;
        opacity: 25%;
    }
}