@import "helpers/variables";

.container {
    height: 100vh;
    // display: flex;
    // flex-direction: column;

    header {
        position: relative ;
        height: rem(200);
        display: flex;
        align-items: flex-start;

        .copyInfos {
            position: absolute;
            top: rem(65);
            left: 6%;
            width: 88% ;
            display: flex;
            justify-content: space-between;
            min-height: rem(190);

            img {
                min-width: rem(128);
            }

            aside {
                background-color: $white;
                padding: rem(20);
                width: rem(180);

                h1, h2 {
                    color: $blue;
                    @include font_primary_bold();
                }

                h1 {
                    font-size: rem(20);
                }

                h2 {
                    font-size: rem(15);
                }

                h3 {
                    font-size: rem(12);
                    margin-top: rem(10);
                }
            }
        }
    }

    section {
        width: 88%;
        margin: rem(80) 6%;
    }

    > button {
        width: 88%;
        position: absolute;
        bottom: rem(30);
        left: 50%;
        transform: translateX(-50%);
        
    }
    
}