@import "helpers/variables";

.container {
   h1 {
    color: $white;
    text-transform: uppercase;
    @include font_primary_bold ;
   }

   section {
      width: 88%;
      margin: rem(25) 6%;

      > div {
         margin-bottom: rem(30);
      }
   }
}